
.cajaImagenes{


}

.imagenes-container{ 
display: flex;
flex-direction: row;
justify-content: center;
}

h3{
margin-bottom: 15px;
margin-top: 15px;

}

img{
height:200px;
width: 200px;
margin: 5px;
}

form{

}

input{

}

button{

}
