/*contenedor de oficios*/
.contenedorCarrusel1{
    height: 700px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 25px;
  } 

#oficio-container {
    width: 100%;
    height: 600px;
    display: flex;
    overflow-x: hidden;
    scroll-behavior: smooth;
}
  
/*Tarjeta Oficios (dentro de oficio container)*/
.oficio-item {
    width: 450px;
    height: 550px;
    transition: transform 0.2s;
    border-radius: 10px;
    border: 1px solid #ddd;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin: 20px;
    padding: 20px;
    margin-right: 20px;
    display: flex;
    flex-direction: column;
    overflow-x: auto;
    justify-content: center;
    align-items: center;
    scroll-snap-align: center;
    flex-shrink: 0;    
}

.oficio-item:hover {
  transform: translateY(-8px) scale(1.08);
  box-shadow: 0 15px 25px rgb(0 0 0 / 0.15);
}

/*los a son los contenedores de las fotos boton y h2 de las tarjetas*/
.Acard {
    display: flex;
    flex-direction: column;
    text-decoration: none;        
}

.btnIndexcard {
    border: none;
    background-color: transparent;
    cursor: pointer;
    justify-content: center;
}

.oficio-item img {
  width: 100%;
  height: 450px; 
  object-fit: contain;
}

.oficio-item h2 {
  font-size: 1.5rem;
  color: #24b388;
  font-weight: 700;
  text-align: center;
}

/* carteles de carruseles */
.catalogoCartel {
  display: flex;
  justify-content: center;
  font-size: 2rem;
  color: #34495e;
}

.cajaBtn1 {
  display: flex;
  align-items: center;
  justify-content: space-between; 
  gap: 50px;
  margin-top: 15px;
  padding: 0 1rem;
}

.cajaBtn1 button {
  background-color: #24b388;
  border: none;
  color: white;
  border-radius: 50%;
  width: 45px;
  height: 45px;
  font-size: 1.8rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.cajaBtn1 button:hover {
  background-color: #1b7a66;
}

.contenedorCarrusel2{
  width: 100%;
  overflow: hidden;
  padding: 40px 20px;
  background-color: #f4f6f8;
}