.cajaImagenes {
  margin-top: 25px;
  padding: 20px;
  background: #fff;
  border-radius: 18px;
  box-shadow: 0 4px 18px rgba(0, 0, 0, 0.08);
}

.cajaImagenes h3 {
  font-size: 20px;
  margin-bottom: 12px;
  color: #333;
}

/* CONTENEDOR GRID DE 3 IMÁGENES POR FILA */
.imagenes-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 14px;
  margin-bottom: 20px;
}

/* IMÁGENES FIJAS — NO SE AGRANDAN */
.imagenes-container img {
  width: 100%;
  height: 150px !important;
  object-fit: cover;
  border-radius: 14px;
  box-shadow: 0 3px 8px rgba(0, 0, 0, 0.12);
}

/* PAGINACIÓN */
.paginacion {
  margin-top: 15px;
  display: flex;
  justify-content: center;
  gap: 12px;
}

.paginacion button {
  background: #33b27b;
  border: none;
  padding: 8px 16px;
  border-radius: 10px;
  color: white;
  cursor: pointer;
  transition: 0.2s;
}

.paginacion button:disabled {
  background: #b4b4b4;
  cursor: not-allowed;
}

#file-input {
  margin-top: 10px;
}

#agregar-imagen {
  margin-top: 10px;
  padding: 8px 16px;
  border-radius: 10px;
  border: none;
  background: #2196f3;
  color: white;
  cursor: pointer;
}
