.manejo-profesionales {
  width: 100%;
  margin: 40px auto;
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
 
}

.tabla-profesionales {
  width: 100%;
  border-collapse: collapse;
  
}

.tabla-profesionales th, .tabla-profesionales td {
  border: 1px solid #ddd;
  padding: 10px;
  text-align: left;
}

.tabla-profesionales th {
  background-color: #f0f0f0;
}

.tabla-profesionales tr:nth-child(even) {
  background-color: #f9f9f9;
}

.tabla-profesionales tr:hover {
  background-color: #f5f5f5;
}

.activo {
  color: green;
}

.bloqueado {
  color: red;
}

button {
  padding: 5px 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  opacity: 0.8;
}

button:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}

img {
  border-radius: 50%;
  object-fit: cover;
}

/* Botón Banear */
.btn-baneo-oficios {
  background-color: #e74c3c;
  color: white;
  border: none;
  padding: 5px 10px;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.2s ease;
}
.btn-baneo-oficios:hover {
  background-color: #c0392b;
}

/* Botón Desbloquear */
.btn-desbloqueo-oficios {
  background-color: #2f89c8;
  color: white;
  border: none;
  padding: 5px 10px;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.2s ease;
}
.btn-desbloqueo-oficios:hover {
  background-color: #2980b9;
}