
.perfil-admin-container {
  width: 80%;
  margin: 40px auto;
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.datosAdmin {
  margin-bottom: 20px;
}

.botones-admin {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.boton-admin {
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  background-color: #4CAF50;
  color: #fff;
  cursor: pointer;
}

.boton-admin:hover {
  background-color: #3e8e41;
}