.forgot-password-container {
  width: 300px;
  margin: 50px auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.forgot-password-container form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.forgot-password-container input {
  width: 100%;
  height: 40px;
  margin-bottom: 20px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.forgot-password-container button {
  width: 100%;
  height: 40px;
  background-color: #2f89c8;
  color: #fff;
  padding: 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.forgot-password-container button:hover {
  background-color: #2980b9;
}

.toggle-password {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-20%);
  background: none;
  border: none;
  cursor: pointer;
  display: flex;
  align-items: center;
}

.toggle-password img {
  object-fit: contain;
}