* {
margin: 0;
padding: 0;
box-sizing: border-box;
}

.logo {
  transform: scale(1.7); /* aumenta el tamaño en un 20% */
  display: inline-block;
  margin-left: 15px;
}

main{
justify-items: center;
}

.inputs1{
display: flex;
flex-direction: row;
justify-content: center;
}

#input-lista{
width: 250px;
height: 300px;
}

#input-listaArray{
width: 250px;
height: 300px;
}

#imagen-propaganda img{
width: 250px;
height: 250px;
}

#agregar-botones{
display: flex;
flex-direction: column;
justify-content: center;
}

.datos1{
display: flex;
flex-direction: column;
justify-content: center;
}

#input-Nombre{
width: 250px;
height: 35px;
}

#input-Imagen{
width: 250px;
height: 35px;
}

#input-pagina{
width: 250px;
height: 35px;
}


.botonera1{
margin-top: 25px;
}

.botonera1 button {   
width: 200px;
height: 40px;
}

/*tabla*/
#tabla-usuarios {
  width: 100%;
  border-collapse: collapse;
  font-family: Arial, sans-serif;
  
}

#tabla-usuarios th, #tabla-usuarios td {
  border: 1px solid #ddd;
  padding: 10px;
  text-align: left;
}

#tabla-usuarios th {
  background-color: #f0f0f0;
  font-weight: bold;
}

#tabla-usuarios tbody tr:nth-child(even) {
  background-color: #f9f9f9;
}

#tabla-usuarios tbody tr:hover {
  background-color: #ddd;
}

#tabla-usuarios td {
  font-size: 14px;
}

.containerTabla{
width: 98%;
}

@media (max-width: 700px)  {
}