* {
margin: 0;
padding: 0;
box-sizing: border-box;
}

#logo {
margin-top: -95px;
transform: scale(0.7); /* aumenta el tamaño en un 20% */
display: flex;
justify-content: center; /* centra horizontalmente */
align-items: center; /* centra verticalmente */
margin-bottom: -145px;
}

main{
font-family: 'Inter', sans-serif;
align-items: center;
justify-items: center;
margin-bottom: 35px;

} 

.container-inputs{
align-items: center;
justify-items: center;
/*
 padding: 14px 28px;
  font-size: 1rem;
  cursor: pointer;
  border: none;
  border-radius: 12px;
  background-color: #27ae60;
  color: #fff;
  font-weight: 600;
  box-shadow: 0 4px 10px rgba(39, 174, 96, 0.2);
  transition: background-color 0.3s ease, transform 0.2s ease;
  flex: 1 1 120px;
*/
max-width: 50%;
margin: 0 auto;
padding: 2rem 2.5rem;
background-color: #fdfdfd;
border-radius: 12px;
box-shadow: 0 4px 20px rgba(0, 0, 0, 0.5);
transition: transform 0.2s;

}

.container-inputs:hover {

  transform: scale(1.03);
}

h2{
margin-bottom: 30px;
font-size: 1.8rem;
color: #2c3e50;
margin-top: 68px;
margin-bottom: 35px;
}


.container-inputs > div {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
  color: #2c3e50;
}
.container-inputs > div label {
  margin-bottom: 10px;
  font-weight: bold; /* ejemplo de estilo adicional */
}
.container-inputs > div input {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.confir-password{
  margin-bottom: 35px;
}

#change-password-button{
  
background-color: #57b894;
border: none;
color: white;
padding: 0.5rem 1rem;
font-weight: 600;
border-radius: 5px;
cursor: pointer;
font-size: 1rem;
width: max-content;
transition: background-color 0.3s ease;
margin-bottom: 1.5rem;
margin-left: 30px;
}


footer{
    text-align: center;
}
@media (max-width: 700px)  {






}