* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*body y main */
body {
  background-color: #fdfdfd;
    background-size: cover;
    background-position: center;
    line-height: 1.6;
    position: relative;
    
}

/*header */
#header {
background-color: #24b388;
width: 100%;
height: 100px;
}

.texto1 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-left: 225px;
  text-align: left;
}

/*buscador*/
#buscador{
  padding: 5px;
margin-top: 35PX;
height: 35px;
margin-left: 60px;
width: 350px;
}

#irTodos{
margin-left: 10px;
}

#irTodos button{
height: 37px;
width: 80px;
border-radius: 10px;
background-color:white;
}

#irTodos button:hover{
background-color: #6e6d6d;
}

.resultado {
  padding: 10px;
  border-bottom: 1px solid #ccc;
  cursor: pointer; 
}

.resultado:hover {
  background-color: #f0f0f0;
}

.boton-personalizado {
  background-color: #57b894 !important;
  border-color: #57b894 !important;
}

/*contenedor de oficios*/
.contenedorCarrusel1{
    height: 700px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 25px;
  } 

#oficio-container {
    width: 100%;
    height: 600px;
    display: flex;
    overflow-x: hidden;
    scroll-behavior: smooth;
}
  
/*Tarjeta Oficios (dentro de oficio container)*/
.oficio-item {
    width: 450px;
    height: 550px;
    transition: transform 0.2s;
    border-radius: 10px;
    border: 1px solid #ddd;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin: 20px;
    padding: 20px;
    margin-right: 20px;
    display: flex;
    flex-direction: column;
    overflow-x: auto;
    justify-content: center;
    align-items: center;
    scroll-snap-align: center;
    flex-shrink: 0;    
}

.oficio-item:hover {
    transform: scale(1.05);
}

/*los a son los contenedores de las fotos boton y h2 de las tarjetas*/
.Acard {
    display: flex;
    flex-direction: column;
    text-decoration: none;        
}

.btnIndexcard {
    border: none;
    background-color: transparent;
    cursor: pointer;
    justify-content: center;
}

.oficio-item img {
  width: 100%;
  height: 450px; 
  object-fit: contain;
}

.oficio-item h2 {
    color: #34495e;
    font-size: 2em;
    text-align: center;
}

/* carteles de carruseles */
.catalogoCartel {
display: flex;
justify-content: center;
font-size: 2rem;
color: #34495e;
}

.cajaBtn1{ 
    display: flex;
    flex-direction: row;
    justify-items: center;
    width:250px ;

}

.cajaBtn1 button { 
    width: 50px;
    height: 30px;
    margin: 10px;
    margin-top: 15px;
  }

.contenedorCarrusel2{
width:100%;
}

/*propaganda*/
#propaganda1{
margin-bottom: -200px;
width:100%;
height: 650px;
display: flex;
flex-direction: row;
overflow-x: auto;
scroll-behavior: smooth;
-webkit-overflow-scrolling: touch;
scrollbar-width: none; /* Oculta la barra de desplazamiento en Firefox */
-ms-overflow-style: none; /* Oculta la barra de desplazamiento en IE y Edge */
}

.propaganda2 { 
width:450px;
height: 400px;
margin: 15px;
transition: transform 0.2s;
border-radius: 10px;  
border: 1px solid #ddd;
box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);    
padding: 20px;
margin-right: 20px;
display: flex;
flex-direction: column;
overflow-x: auto;
justify-content: center;
align-items: center;
scroll-snap-align: center;
flex-shrink: 0;
}

.propaganda2 h2 {
color: #34495e;
font-size: 2em;
text-align: center;
}

.propaganda2 img{
width: 350px;
height: 300px;
object-fit: cover;
}

#footer {
background-color: #24b388;
width: 100%;
height: 100px;
} 

@media (max-width: 700px) {   

.texto1{
margin: 0;
margin-left: 0;
margin-left: 5px;
margin-top: 15px;
}

/*buscador*/
#buscador{
margin: 0;
margin-left: 0;
margin-left: 5px;
width: 200px;
margin-top: 15px;
}

/*contenedor de oficios*/
.contenedorCarrusel1{
display: flex;
flex-direction: column;
align-items: center;
height: 600px;
margin-top: 15px;
} 

/*Tarjeta Oficios (dentro de oficio container)*/
.oficio-item {
border-radius: 10px;
box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
overflow: hidden;
transition: transform 0.2s;
height: 300px;
width: 250px;
}

.oficio-item img {
border-radius: 30px;
width: 200px;
height: 250px;
}

.oficio-item h2 {
font-size: 1.1em;
font-style: unset;
text-align: center;
}

.cajaBtn1{  
margin-bottom: 200px;
}

/*propaganda*/
.contenedorCarrusel2{
width: 100%;
margin-top: 15px;
}

#propaganda1{
width: 100%;
}

.propaganda2 {
width: 100%;
height: 400px;
}

.propaganda2 img{
width: 80%;
height: 300px;
}
}