* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/*body y main */
body {
  background-color: #fdfdfd;
    background-size: cover;
    background-position: center;
    line-height: 1.6;
    position: relative;
    
}

/*header */
#header {
 background-color: #24b388;
 width: 100%;
 height: 100px;
}

#listaOficios{
   display: grid;
  grid-template-columns: repeat(3, 1fr); /* Para dos columnas */
  /* grid-template-columns: repeat(3, 1fr); / / Para tres columnas */
  gap: 10px; /* Espacio entre elementos */
  margin-left: 25px;
}

 #footer {
 
 width: 100%;
 height: 100px;
}
 

@media (max-width: 700px) {
   
#header {

}

/* carteles de carruseles */
.catalogoCartel {

}


body {

    
}
   


#footer {

}

}