* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


main{
  justify-items: center;
}

/*Tarjeta Profesional*/
.tarjetaProfesional{
display: flex;
flex-direction: row;
justify-content: start;
align-items: center;
background-color: rgb(201, 198, 204);


width: 90%;
height: 220px;
}

.tarjetaProfesional img{
width: 200px;
height: 200px;
margin: 5px;
margin-left: 15px;
}

.datosProfesional{
margin-left: 10px;
background-color: white;
height: 100%;
width: 90%;
}   

.datosProfesional ul{

}   

.datosProfesional li{
font-size: 25px;
}   
/*Tarjeta Profesional*/

/*Descripcion Profesional*/
.descripcionProfesional{
margin-top: 25px ;
margin-bottom: 15px ;
width: 90%;
height:300px ;
background-color: rgb(201, 198, 204);

}
.descripcionProfesional p{

}
/*Descripcion Profesional*/

 /*Caja Imagenes*/
.cajaImagenes{
    display: flex;
    flex-direction: row;
   justify-content: start;
   align-items: center;
    
background-color: rgb(201, 198, 204);
width: 90%;
height: 300px;

}

.cajaImagenes img{
width: 250px;
height: 250px;
margin: 125px;
}

/*Caja Imagenes*/

/*H2*/
h2{ 

margin-top: 25px ;
margin-bottom: 15px ;

}

/*Caja Comentario*/
.cajaComentario{
margin-top: 25px ;
margin-bottom: 15px ;
width: 90%;
height:300px ;
background-color: rgb(201, 198, 204);
}
.cajaComentario p{

}

/*Caja Comentario*/

/*Boton Conectar*/

#conectarProf{
width: 150px;
height:30px ;
}


@media (max-width: 700px)  {


main{
 

}

/*Tarjeta Profesional*/
.tarjetaProfesional{
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
margin-top: 150px;
margin-bottom: 150px;
width: 100%;
height: 400px;
}

.tarjetaProfesional img{
width: 150px;
height: 150px;
margin: 0;
margin-left: 0;
margin-top: 5px;
margin-bottom: 5px;
}

.datosProfesional{
margin-left: 0;
background-color: white;
height: 59%;
width: 100%;
}   

.datosProfesional ul{

}   

.datosProfesional li{
font-size: 23px;
}   
/*Tarjeta Profesional*/

/*Descripcion Profesional*/
.descripcionProfesional{
margin-top: 0 ;
margin-bottom: 0 ;
width: 95%;
height:400px ;


margin-bottom: 150px;
}
.descripcionProfesional p{


}
/*Descripcion Profesional*/

 /*Caja Imagenes*/
.cajaImagenes{
    display: flex;
    flex-direction: column;
   justify-content: center;
   align-items: center;
    
background-color: rgb(201, 198, 204);
width: 95%;

height: 900px;

}

.cajaImagenes img{

margin: 15px;
}

/*Caja Imagenes*/

/*H2*/
h2{ 


}

/*Caja Comentario*/
.cajaComentario{
margin-top: 25px ;
margin-bottom: 15px ;
width: 95%;
height:300px ;
background-color: rgb(201, 198, 204);
}
.cajaComentario p{

}

/*Caja Comentario*/

/*Boton Conectar*/

#conectarProf{
width: 150px;
height:30px ;
}




}

